<div class="container-fluid">

  <div class="w-100 d-flex mb-2">
    <h3 class="mt-2 d-inline-block me-auto ms-3">
      {{games.length}}
      Games
    </h3>
    <h3 class="d-inline-block ms-auto me-3 mt-2 pointer"
        (click)="newGame()"
        data-bs-toggle="modal"
        data-bs-target="#gameModal">
      Add game
      <i class="fas fa-plus-circle pointer"></i>
    </h3>
  </div>

  <div class="container" *ngFor="let g of games">
    <div class="row border-black">

      <div class="col-md-11">
        <div (click)="loadGame(g)" data-bs-toggle="modal" data-bs-target="#gameModal" class="row mt-3 pt-2">
          <div class="col-md-2">
            <img class="border-black" src="{{g.banner || 'assets/images/no_image_icon.png'}}" alt="{{g.name}} banner">
          </div>

          <div class="col-md-9">
            <div class="d-inline-block">
              <span id="icon-text">{{g.name}}</span>
              <img id="icon-img" src="{{g.icon || 'assets/images/no_image_icon.png'}}" alt="{{g.name}} icon">
            </div>
            <div id="text-extradanger">{{g.genres}}</div>
            <div><b>Developers:</b> {{g.developers}} </div>
            <div><b>Publishers:</b> {{g.publishers}}</div>
            <small class="mt-1 mb-1">Release Date: {{g.release_date.day}}-{{g.release_date.month}}-{{g.release_date.year}}
              \/
              Post Date: {{g.post_date.day}}-{{g.post_date.month}}-{{g.post_date.year}}
            </small>
          </div>

          <div class="col-md-1 align-self-center align-middle">
            <small class="badge bg-success">{{getScore(g)}}</small>
          </div>

          <div class="pb-2"></div>
        </div>
      </div>

      <div class="col-md-1 remove d-flex">
        <h3 class="ms-auto align-self-center">
          <i (click)="removeGame(g)" class="fa-solid fa-trash"></i>
        </h3>
      </div>
    </div>

    <div class="mb-2"></div>

    <!-- Modal -->
    <div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

            <h5 class="modal-title" id="miModalLabel">
              {{edit? 'Edit '+formGame.getRawValue().name : 'New Game'}}
            </h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
            </button>
          </div>

          <form [formGroup]="formGame" (ngSubmit)="onSubmit()">
            <div class="modal-body">
              <!-- NAME INPUT -->
              <div class="form-floating mb-3">
                <input formControlName="name"
                       type="text" class="form-control"
                       id="name" value="{{formGame.getRawValue().name}}"
                       placeholder="Name">
                <label for="name"> Title </label>
              </div>
              <!-- NAME INPUT -->

              <!-- ICON INPUT -->
              <div class="row">
                <div class="col-8 mt-3">
                  <div class="form-floating mb-3">
                    <input formControlName="icon"
                           type="text" class="form-control"
                           id="icon"
                           value="{{formGame.getRawValue().icon}}"
                           placeholder="Icon">
                    <label for="icon"> Icon </label>
                  </div>
                </div>

                <div class="col-4">
                  <img src="{{formGame.getRawValue().icon || 'assets/images/no_image_icon.png'}}" alt="...">
                </div>
              </div>
              <!-- ICON INPUT -->

              <!-- BANNER INPUT -->
              <div class="row">
                <div class="col-8 mt-3">
                  <div class="form-floating mb-3">
                    <input formControlName="banner"
                           type="text" class="form-control"
                           id="banner"
                           value="{{formGame.getRawValue().banner}}"
                           placeholder="Banner">
                    <label for="icon"> Banner </label>
                  </div>
                </div>

                <div class="col-4">
                  <img src="{{formGame.getRawValue().banner || 'assets/images/no_image_icon.png'}}" alt="...">
                </div>
              </div>
              <!-- BANNER INPUT -->

              <!-- IMAGES INPUT -->
              <div class="row" formArrayName="images">
                <div *ngFor="let image of images.controls; let i = index">
                  <div class="col-8 mt-3">
                    <div class="form-floating mb-3">
                      <input [formControlName]="i"
                             type="text" class="form-control"
                             id="images"
                             value="{{image.getRawValue()}}"
                             placeholder="Images">
                      <label for="images"> Image {{i+1}}</label>
                    </div>
                  </div>

                  <div class="col-4">
                    <img src="{{image.getRawValue() || 'assets/images/no_image_icon.png'}}" alt="...">
                  </div>
                </div>
              </div>

              <div class="row">
                <button type="button" class="btn mt-2 btnImage" (click)="addImage()">Add Image</button>
              </div>
              <!-- IMAGES INPUT -->

              <!-- PRICE INPUT -->
              <div class="form-floating mb-3">
                <input formControlName="price"
                       type="number" class="form-control"
                       id="price" value="{{formGame.getRawValue().price}}"
                       placeholder="Name">
                <label for="price"> Price </label>
              </div>
              <!-- PRICE INPUT -->

              <!-- DEVELOPERS INPUT -->
              <div class="row" formArrayName="developers">
                <div *ngFor="let dev of developers.controls; let i = index">
                    <div class="form-floating mb-3 mt-3">
                      <input [formControlName]="i"
                             type="text" class="form-control"
                             id="developers"
                             value="{{dev.getRawValue()}}"
                             placeholder="Developer">
                      <label for="developers"> Developer {{i+1}}</label>
                    </div>
                </div>
              </div>

              <div class="row">
                <button type="button" class="btn mt-2 btnImage" (click)="addDeveloper()">Add Developer</button>
              </div>
              <!-- DEVELOPERS INPUT -->

              <!-- PUBLISHERS INPUT -->
              <div class="row" formArrayName="publishers">
                <div *ngFor="let pub of publishers.controls; let i = index">
                    <div class="form-floating mb-3 mt-3">
                      <input [formControlName]="i"
                             type="text" class="form-control"
                             id="publishers"
                             value="{{pub.getRawValue()}}"
                             placeholder="Publisher">
                      <label for="publishers"> Publisher {{i+1}}</label>
                    </div>
                </div>
              </div>

              <div class="row">
                <button type="button" class="btn mt-2 btnImage" (click)="addPublisher()">Add Publisher</button>
              </div>
              <!-- PUBLISHERS INPUT -->

              <!-- GENRES INPUT -->
              <div class="row" formArrayName="genres">
                <div *ngFor="let gen of genres.controls; let i = index">
                    <div class="form-floating mb-3 mt-3">
                      <input [formControlName]="i"
                             type="text" class="form-control"
                             id="genres"
                             value="{{gen.getRawValue()}}"
                             placeholder="Genres">
                      <label for="genres"> Genre {{i+1}}</label>
                    </div>
                </div>
              </div>

              <div class="row">
                <button type="button" class="btn mt-2 btnImage" (click)="addGenres()">Add Genre</button>
              </div>
              <!-- GENRES INPUT -->

              <!-- CONSOLES INPUT -->
              <div class="row" formArrayName="consoles">
                <div *ngFor="let con of consoles.controls; let i = index">
                    <div class="form-floating mb-3 mt-3">
                      <input [formControlName]="i"
                             type="text" class="form-control"
                             id="consoles"
                             value="{{con.getRawValue()}}"
                             placeholder="Console">
                      <label for="developers"> Console {{i+1}}</label>
                    </div>
                </div>
              </div>

              <div class="row">
                <button type="button" class="btn mt-2 btnImage" (click)="addConsole()">Add Console</button>
              </div>
              <!-- CONSOLES INPUT -->

              <!-- RELEASE DATE INPUT -->
              <div class="form-floating mb-3">
                <input formControlName="release_date"
                       type="text" class="form-control"
                       id="release_date" value="{{formGame.getRawValue().release_date}}"
                       placeholder="Release Date">
                <label for="release_date"> Release Date </label>
              </div>
              <!-- RELEASE DATE INPUT -->

              <!-- POST DATE INPUT -->
              <div class="form-floating mb-3">
                <input formControlName="post_date"
                       type="text" class="form-control"
                       id="post_date" value="{{formGame.getRawValue().post_date}}"
                       placeholder="Post Date">
                <label for="post_date"> Post Date </label>
              </div>
              <!-- POST DATE INPUT -->

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                      data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"
                      data-bs-dismiss="modal">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
